/* --- VARIABLES (Byline-Default/Fallback) --- */
/* Basic COLORS */
/* Basic OTHERS */
/* Item COLORS */
/* Variables TEXT */
/* Headers */
/* Paragraphs */
/* --- BYLINE --- */
.byline {
  overflow: auto;
  border: 0.05rem solid #999;
  border-radius: 0.5rem;
  margin: 5rem auto;
}
.byline figure {
  display: block;
}
.byline figure .byline__img {
  display: block;
  border-radius: 50rem;
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}
.byline figure figcaption {
  width: 12rem;
  margin: 1rem auto;
}
