/* --- VARIABLES (Footer-Default/Fallback) --- */
/* Basic COLORS */
/* Basic OTHERS */
/* Item COLORS */
/* Variables TEXT */
/* Headers */
/* Paragraphs */
/* --- FOOTER --- */
.region-footer {
  clear: both;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  background-color: #555;
  padding: 1rem;
}
.region-footer .footer-column-wrapper {
  width: 80%;
  margin: 0 auto;
}
.region-footer .footer-column-wrapper .footer-column {
  display: block;
  margin: 0 auto;
}
.region-footer .footer-column-wrapper .footer-column .footer-column-1,
.region-footer .footer-column-wrapper .footer-column .footer-column-3 {
  display: hidden;
}
.region-footer .footer-column-wrapper .footer-column .footer-column-2 {
  width: 18rem;
  margin: 1rem auto;
}
.region-footer .footer-column-wrapper .footer-column .footer-column-2 p {
  display: inline-block;
  margin: 0 auto;
}
.region-footer .footer-column-wrapper .footer-column .footer-column-2 p .footer_link_insta {
  display: inline-block;
  font-size: 5rem;
  margin: 1rem 2rem;
  color: #fff;
}
.region-footer .footer-column-wrapper .footer-column .footer-column-2 p .footer_link_github {
  display: inline-block;
  font-size: 5rem;
  margin: 1rem 2rem;
  color: #fff;
}
.region-footer .footer-column-wrapper .footer-column .footer-column-2 p .footer_link_github i {
  width: 5rem;
}
.region-footer .site-footer p {
  clear: both;
  width: 100%;
  text-align: center;
  padding: 3rem;
}
