/* --- VARIABLES (Footer-Default/Fallback) --- */
/* Basic COLORS */
@color_bg_light: #fff;
@color_bg_dark: #555;
@color_border: #999;
@color_shadow: #777;

/* Basic OTHERS */
@std_borderRadius: 0.5rem;

/* Item COLORS */
@color_primary: rgb(36, 148, 86);
@color_secondary: rgb(36, 148, 86);
@color_tertiary: rgb(36, 148, 86);

/* Variables TEXT */
@text_color_light: #fff;
@text_color_dark: #333;
@text_color_grey: #555;
@font_family_body: 'Dosis', sans-serif;
/* Headers */
@font_size_h1: 2.8rem;
@font_size_h2: 2.4rem;
@font_size_h3: 2rem;
@font_size_h4: 2rem;
@font_size_h5: 2rem;
@font_size_h6: 2rem;
@font_weight_h: 500;
/* Paragraphs */
@font_size_p: 1.8rem;
@font_weight_p: 300;



/* --- FOOTER --- */
.region-footer {
    clear: both;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    background-color: @color_bg_dark;
    padding: 1rem;
    
    .footer-column-wrapper {
        width: 80%;
        margin: 0 auto;

        .footer-column {
            display: block;
            margin: 0 auto;

            .footer-column-1,
            .footer-column-3 {
                display: hidden;
            }

            .footer-column-2 {
                width: 18rem;
                margin: 1rem auto;

                p {
                    display: inline-block;
                    margin: 0 auto;

                    .footer_link_insta {
                        display: inline-block;
                        font-size: 5rem;
                        margin: 1rem 2rem;
                        color: @text_color_light;
                    }
                    
                    .footer_link_github {
                        display: inline-block;
                        font-size: 5rem;
                        margin: 1rem 2rem;
                        color: @text_color_light;
                    
                        i {
                            width: 5rem;
                        }
                    }
                }
            }
        }
    }

    .site-footer {

        p {
            clear: both;
            width: 100%;
            text-align: center;
            padding: 3rem;
        }
    }
}
