/* --- VARIABLES (Header-Default/Fallback) --- */
/* Basic COLORS */
/* Basic OTHERS */
/* Item COLORS */
/* Variables TEXT */
/* Headers */
/* Paragraphs */
/* --- HEADER --- */
.outer-wrap-header {
  background-color: #555;
  overflow: auto;
  content: "";
  display: block;
  clear: both;
}
.outer-wrap-header .inner-wrap-header {
  max-width: 100%;
  overflow: auto;
  height: 100%;
}
.outer-wrap-header .inner-wrap-header .region-header {
  width: 100%;
  height: 100%;
  /* --- NAVBAR --- */
}
.outer-wrap-header .inner-wrap-header .region-header .region-header-col-1 {
  display: block;
  height: 100%;
  float: left;
}
.outer-wrap-header .inner-wrap-header .region-header .region-header-col-1 .site-logo {
  display: block;
  float: left;
  width: 8rem;
  margin: 1rem;
  color: #fff;
}
.outer-wrap-header .inner-wrap-header .region-header .region-header-col-1 .site-logo-text {
  display: inline-block;
  width: auto;
  margin: 3rem 0 3rem 1rem;
}
.outer-wrap-header .inner-wrap-header .region-header .region-header-col-1 .site-logo-text a {
  cursor: pointer;
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.outer-wrap-header .inner-wrap-header .region-header .region-header-col-1 .site-logo-text a .site-logo-text-icon {
  display: none;
}
.outer-wrap-header .inner-wrap-header .region-header .region-header-col-2 {
  display: block;
  height: 100%;
  float: left;
  text-align: center;
}
.outer-wrap-header .inner-wrap-header .region-header .region-header-col-2 .rm-navbar {
  display: block;
  width: 100%;
  margin: auto 0;
}
.outer-wrap-header .inner-wrap-header .region-header .region-header-col-2 .rm-navbar .rm-desktop {
  list-style: none;
  width: 100%;
  margin: 2.5rem auto;
  padding: 0;
}
.outer-wrap-header .inner-wrap-header .region-header .region-header-col-2 .rm-navbar .rm-desktop li {
  display: inline-block;
}
.outer-wrap-header .inner-wrap-header .region-header .region-header-col-2 .rm-navbar .rm-desktop li a {
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 100%;
  margin: 1rem auto;
  padding: 0 1rem;
}
.outer-wrap-header .inner-wrap-header .region-header .region-header-col-2 .rm-navbar .rm-desktop .rm-submenu-button {
  display: none;
}
.outer-wrap-header .inner-wrap-header .region-header .region-header-col-3 {
  display: block;
  float: left;
}
.outer-wrap-header .inner-wrap-header .region-header .region-header-col-3 .rm-button {
  width: 3rem;
  color: #fff;
}
