/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/* --- VARIABLES (Layout-Default/Fallback) --- */
/* Basic COLORS */
/* Basic OTHERS */
/* Item COLORS */
/* Variables TEXT */
/* Headers */
/* Paragraphs */
/* --- MAIN --- */
.outer-wrap-main .inner-wrap .row {
  position: relative;
}
.outer-wrap-main .inner-wrap .row .route- .region-main,
.outer-wrap-main .inner-wrap .row .route-om .region-main,
.outer-wrap-main .inner-wrap .row .route-style .region-main,
.outer-wrap-main .inner-wrap .row .route-testa .region-main {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: left;
  /* --- ARTICLE --- */
}
.outer-wrap-main .inner-wrap .row .route- .region-main .article,
.outer-wrap-main .inner-wrap .row .route-om .region-main .article,
.outer-wrap-main .inner-wrap .row .route-style .region-main .article,
.outer-wrap-main .inner-wrap .row .route-testa .region-main .article {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 3rem;
}
.outer-wrap-main .inner-wrap .row .route-redovisning .region-main,
.outer-wrap-main .inner-wrap .row .route-redovisning-kmom01 .region-main,
.outer-wrap-main .inner-wrap .row .route-redovisning-kmom02 .region-main,
.outer-wrap-main .inner-wrap .row .route-redovisning-kmom03 .region-main,
.outer-wrap-main .inner-wrap .row .route-redovisning-kmom04 .region-main,
.outer-wrap-main .inner-wrap .row .route-redovisning-kmom05 .region-main,
.outer-wrap-main .inner-wrap .row .route-redovisning-kmom06 .region-main,
.outer-wrap-main .inner-wrap .row .route-redovisning-kmom010 .region-main {
  display: inline-block;
  width: 60%;
  margin: 0 auto;
  text-align: left;
  /* --- ARTICLE --- */
}
.outer-wrap-main .inner-wrap .row .route-redovisning .region-main .article,
.outer-wrap-main .inner-wrap .row .route-redovisning-kmom01 .region-main .article,
.outer-wrap-main .inner-wrap .row .route-redovisning-kmom02 .region-main .article,
.outer-wrap-main .inner-wrap .row .route-redovisning-kmom03 .region-main .article,
.outer-wrap-main .inner-wrap .row .route-redovisning-kmom04 .region-main .article,
.outer-wrap-main .inner-wrap .row .route-redovisning-kmom05 .region-main .article,
.outer-wrap-main .inner-wrap .row .route-redovisning-kmom06 .region-main .article,
.outer-wrap-main .inner-wrap .row .route-redovisning-kmom010 .region-main .article {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 3rem;
}
.outer-wrap-main .inner-wrap .has-sidebar-left {
  display: inline-block;
}
.outer-wrap-main .inner-wrap .has-sidebar-right {
  display: inline-block;
  float: left;
}
.route- .figure img {
  width: 30rem;
  float: right;
  border-radius: 0.5rem;
  margin: 0 0 1rem 1rem;
}
.route-om .figure img {
  float: left;
  width: 30rem;
  margin: 1rem 1rem 1rem 0;
}
.figure p {
  clear: both;
}
