/**
 * Layout for responsive style through media queries.
 */


/* PHONE SIZE SCREENS (0 - 680px width) */
@media screen and (min-width: 0px) and (max-width: 680px) {
    
    /* --- HEADER --- */
    .outer-wrap-header {
        .inner-wrap-header {
            .row {
                .region-header {

                    /* SITE-LOGO & TEXT */
                    .region-header-col-1 {
                        width: 40%;

                        .site-logo-text {
                            display: none;

                            a {
                                display: none;
                            }
                        }
                    }

                    .region-header-col-2 {
                        width: 20%;

                        .rm-desktop {
                            display: none;
                        }
                    }

                    .region-header-col-3 {
                        width: 40%;

                        .rm-desktop {
                            display: none;
                        }

                        .rm-small {
                            display: block;

                            .rm-button {
                                margin: 2.5rem;
                            }
                        }
                    }

                }
            }
        }
    }



    /* --- BREADCRUMBs --- */
    .region-breadcrumb {
        .breadcrumb-list {
            ul {
                li {
                    width: 49%;
                    padding: 0.5rem;
                }
            }
        }
    }



    /* --- MAIN --- */
    .outer-wrap-main {
        .inner-wrap-main {
            .row {

                .region-sidebar-left {
                    display: block;
                    clear: both;
                    width: 100%;
                    margin: 1rem auto;
                    padding: 0;

                    h4 {
                        width: 100%;
                        text-align: center;
                        margin: 1rem;
                    }

                    ul {
                        text-align: center;

                        li {
                            margin: 0.5rem auto;
                        }
                    }
                }
                
                .region-main {
                    display: block;
                    width: 90%;
                    margin: 0 auto;

                    article {
                        padding: 1rem 0;
                    }

                    .next-previous {
                        margin: 2rem 0;
                    }

                    .figure {

                        img {
                            clear: both;
                            width: 100%;
                            margin: 1rem auto;
                        }
                    }

                    /* --- BYLINE --- */
                    .block {
                        .byline {
                            width: 100%;
                    
                            figure {
                                display: block;
                                width: 100%;
                                height: 10rem;
                                margin: 2rem auto;
                            }

                            p {
                                display: inline-block;
                                width: 100%;
                                padding: 3rem;
                            }
                        }
                    }
                }
            }
        }
    }



    /* --- FOOTER --- */
    .outer-wrap-footer {
        .inner-wrap-footer {
            .row {
                .region-footer {

                    /* SITE-LOGO & TEXT */
                    .region-footer-col-1 {
                        width: 40%;


                    }

                    .region-footer-col-2 {
                        width: 20%;

                    }

                    .region-footer-col-3 {
                        width: 40%;
                    }

                }
            }
        }
    }
}



/* -------------------------------------------------- */



/* -------------------------------------------------- */
/* PHONE & IPAD SIZE SCREENS (681 - 968px width) */
@media screen and (min-width: 681px) and (max-width: 968px) {

    /* --- HEADER --- */
    .region-header {

        /* SITE-LOGO & TEXT */
        .region-header-col-1 {
            width: 40%;

            .site-logo-text {
                display: inline-block;

                a {
                    display: inline-block;
                }
            }
        }

        /* NAVBAR */
        .region-header-col-2 {
            width: 40%;

            .rm-desktop {
                display: none;
            }
        }

        /* HAMBURGER MENU */
        .region-header-col-3 {
            width: 20%;
            
            .rm-desktop {
                display: block;
            }
            
            .rm-button {
                margin: 2.5rem;
            }
        }
    }
    
    .rm-small {
        display: none;
    }

    .site-logo {
        display: none;
    }



    /* --- BREADCRUMBs --- */
    .region-breadcrumb {
        .breadcrumb-list {
            ul {
                li {
                    width: 28%;
                    padding: 0.5rem;
                }
            }
        }
    }



    /* --- ROUTE FOR HOME, ABOUT, STYLE & TEST --- */
    .route-,
    .route-om,
    .route-style,
    .route-testa  {
        .outer-wrap-main {
            .inner-wrap-main {
                .row {
                    .region-main {
                        display: block;
                        width: 75%;
                    }
                }
            }
        }
    }



    /* --- ROUTE FOR REDOVISNING --- */
    .route-redovisning,
    .route-redovisning-kmom01,
    .route-redovisning-kmom02,
    .route-redovisning-kmom03,
    .route-redovisning-kmom04,
    .route-redovisning-kmom05,
    .route-redovisning-kmom06,
    .route-redovisning-kmom10,
    .route-verktyg,
    .route-verktyg-kmom01, 
    .route-verktyg-markdown,
    .route-verktyg-shortcode,
    .route-verktyg-frontmatter,
    .route-verktyg-stylevaljare,
    .route-verktyg-vyer-och-templatefiler,
    .route-verktyg-layout-och-regioner,
    .route-verktyg-kmom02,
    .route-verktyg-font-awesome,
    .route-verktyg-kmom03,
    .route-verktyg-viewport,
    .route-verktyg-vertikalt-grid,
    .route-verktyg-horisontellt-typografiskt-grid,
    .route-verktyg-kmom05,
    .route-verktyg-bildhantering-med-cimage,
    .route-verktyg-shortcode-figure,
    .route-verktyg-less-modul-for-figure,
    .route-verktyg-bilder-i-text,
    .route-verktyg-ovrigt, 
    .route-verktyg-styla-en-route {
        .outer-wrap-main {
            .inner-wrap-main {
                .row {
                    .region-main {
                        display: inline-block;
                        width: 66.666%;

                        .article {
                            padding: 0;
                            margin: 2rem auto;
                        }

                        .next-previous {
                            margin: 2rem 0;
                        }
                    }
                }
            }
        }
    }



    /* --- MAIN --- */
    .outer-wrap-main {
        .inner-wrap-main {
            .row {
                .region-main {
                    margin: 0 auto;

                    .article {
                        padding: 0;
                        margin: 2rem 0;
                    }

                    .next-previous {
                        margin: 2rem 0;
                    }
                }

                .region-sidebar-left {
                    display: block;
                    float: left;
                    width: 28%;
                    padding-top: 2rem;
                    padding-left: 5%;

                }
            }
        }
    }



    /* --- PICTURE @ HOME --- */
    .route- {
        .outer-wrap-main {
            .inner-wrap-main {
                .row {
                    .region-main {
                        // width: 60%;

                        .figure {

                            img {
                                float: right;
                                width: 35rem;
                                margin: 0 0 1rem 1rem;
                            }
                        }
                    }
                }
            }
        }
    }



    /* --- PICTURE @ ABOUT --- */
    .route-om {
        .outer-wrap-main {
            .inner-wrap-main {
                .row {
                    .region-main {
                        .figure {

                            img {
                                clear: both;
                                width: 30rem;
                                margin: 2rem 0;
                            }
                        }
                    }
                }
            }
        }
    }



    /* --- BYLINE --- */
    .block {
        .byline {
            width: 90%;
            display: flex;
            columns: 2;
    
            figure {
                width: 20%;
                height: 100%;
                margin: 5%;
            }
            
            p {
                display: block;
                width: 70%;
                height: 60%;
                margin: 0 auto;
                padding: 5%;
            }
        }
    }
}
/* -------------------------------------------------- */



/* -------------------------------------------------- */
/* IPAD & DESKTOP SIZE SCREENS (969 - 1199px width) */
@media screen and (min-width: 969px) {

    /* --- HEADER --- */
    .region-header {

        /* SITE-LOGO & TEXT */
        .region-header-col-1 {
            width: 20%;

            .site-logo-text {
                display: inline-block;

                a {
                   display: inline-block;
                }
            }
        }

        /* NAVBAR */
        .region-header-col-2 {
            width: 60%;

            .rm-desktop {
                display: block;
            }
        }

        /* HAMBURGER MENU */
        .region-header-col-3 {
            width: 20%;
            
            .rm-desktop {
                display: block;
            }
            
            .rm-button {
                margin: 2.5rem;
            }
        }
    }
    
    .rm-small {
        display: none;
    }

    .site-logo {
        display: none;
    }



    /* --- BREADCRUMBs --- */
    .region-breadcrumb {
        .breadcrumb-list {
            ul {
                li {
                    width: 25%;
                    padding: 0.5rem;
                }
            }
        }
    }



    /* --- ROUTE FOR HOME, ABOUT, STYLE & TEST --- */
    .route-,
    .route-om,
    .route-style,
    .route-testa {
        .outer-wrap-main {
            .inner-wrap-main {
                .row {
                    .region-main {
                        display: block;
                        width: 60%;
                    }
                }
            }
        }
    }



    /* --- ROUTE FOR REDOVISNING --- */
    .route-redovisning,
    .route-redovisning-kmom01,
    .route-redovisning-kmom02,
    .route-redovisning-kmom03,
    .route-redovisning-kmom04,
    .route-redovisning-kmom05,
    .route-redovisning-kmom06,
    .route-redovisning-kmom10,
    .route-verktyg,
    .route-verktyg-kmom01, 
    .route-verktyg-markdown,
    .route-verktyg-shortcode,
    .route-verktyg-frontmatter,
    .route-verktyg-stylevaljare,
    .route-verktyg-vyer-och-templatefiler,
    .route-verktyg-layout-och-regioner,
    .route-verktyg-kmom02,
    .route-verktyg-font-awesome,
    .route-verktyg-kmom03,
    .route-verktyg-viewport,
    .route-verktyg-vertikalt-grid,
    .route-verktyg-horisontellt-typografiskt-grid,
    .route-verktyg-kmom05,
    .route-verktyg-bildhantering-med-cimage,
    .route-verktyg-shortcode-figure,
    .route-verktyg-less-modul-for-figure,
    .route-verktyg-bilder-i-text,
    .route-verktyg-ovrigt, 
    .route-verktyg-styla-en-route {
        .outer-wrap-main {
            .inner-wrap-main {
                .row {
                    .region-main {
                        display: inline-block;
                        width: 50%;

                        .article {
                            padding: 0;
                            margin: 2rem auto;
                        }

                        .next-previous {
                            margin: 2rem 0;
                        }
                    }
                }
            }
        }
    }


    /* --- SIDEBAR LEFT --- */
    .region-sidebar-left {
        display: block;
        float: left;
        width: 25%;
        padding-top: 2rem;
        padding-left: 5%;
    }
    


    /* --- PICTURE @ HOME --- */
    .route- {
        .outer-wrap-main {
            .inner-wrap-main {
                .row {
                    .region-main {
                        // width: 60%;

                        .figure {

                            img {
                                float: right;
                                width: 35rem;
                                margin: 0 0 1rem 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

        /* --- PICTURE @ ABOUT --- */
        .route-om {
            .outer-wrap-main {
                .inner-wrap-main {
                    .row {
                        .region-main {
                            .figure {

                                img {
                                    clear: both;
                                    width: 30rem;
                                    margin: 2rem 0;
                                }
                            }
                        }
                    }
                }
            }
        }



    /* --- BYLINE --- */
    .block {
        .byline {
            width: 90%;
            display: flex;
            columns: 2;
    
            figure {
                width: 20%;
                height: 100%;
                margin: 5%;
            }
            
            p {
                display: block;
                width: 70%;
                height: 60%;
                margin: 0 auto;
                padding: 5%;
            }
        }
    }
}
